*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

.header{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/background-img.png);
    background-position: cover;
    background-size: cover;
    padding: 0 0%;
    position: relative;
}

.logo{
    margin: 0;
    padding: 0 0;
    display: inline-flex;
    letter-spacing: 10px;
    align-items: baseline;
    font-weight: bold;
    text-transform: uppercase;
    color:#0bd67e;
}

.logo a{
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0 0;
    display: inline-flex;
    letter-spacing: 10px;
    align-items: baseline;
    font-weight: bold;
    text-transform: uppercase;
    color:#0bd67e;
    transition: 0.5s, transform 0.5s;
}

.logo a:hover{    
    color: #fff;
    transform: translateY(-5px);
}

.logo-1,.logo-2{
    margin: 0;
    text-decoration: none;
}

.logo-1{
    font-size: 100px;
}

.logo-2{
    font-size: 50px;
}

.form-wrapper{
    position: absolute;
    left: 50%;
    top:50%;
    width: 430px;
    padding: 60px;
    border-radius: 5px;
    background: rgba(100%,100%,100%,0.7);
    transform: translate(-50%,-50%);
}

nav{
    position: fixed;
    z-index: 1;

}

.form-wrapper h2{
    font-size: 2rem ;
}

.form-wrapper form{
    margin: 25px 0 65px;
}

form .form-control{
    position: relative;
    height:50px;
    margin-bottom: 16px;
}

.form-control input{
    height: 100%;
    width: 100%;
    background: #333;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 4px;
    padding: 0 20px;
}

.form-control input:is(:focus, :valid){
    padding: 16px 20px 0;
    background: #444;
}

.form-control label{
    position: absolute;
    left: 20px;
    top: 50%;
    color: #8c8c8c;
    pointer-events: none;
    font-size: 1rem;
    transform: translateY(-50%);
    transition: all 0.1s ease;
}

.form-control input:is(:focus, :valid) ~ label{
    font-size: 0.75rem;
    transform: translateY(-130%);
}

form button{
    width: 100%;
    padding: 16px 0;
    font-size: 1rem;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    border-radius: 4px;
    background: #0bd67e;
    margin: 25px 0 10px;
    transition: 0.5s;
}

form button:hover{
    background: green;
}

form .form-help{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.remember-me input[type="checkbox"] {
    display: inline-block;
    /* Add any additional styling as needed */
}

.remember-me label {
    display: inline-block;
    /* Add any additional styling as needed */
}


form .remember-me input{
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 5px;
    accent-color: #333;
}

form .form-help :where(label, a){
    font-size: 0.9rem;
    text-decoration: none;
}

.form-wrapper :where(label, p, a){
    color: #000;
    text-decoration: none;
}

.form-wrapper p a{
    font-weight: bold;
}

.form-wrapper a:hover{
    color: green;
    transition: 0.2s;
    text-decoration: underline;
}

@media (max-width: 740px) {

    nav, .form-wrapper{
        padding: 20px;
    }

    nav a img{
        width: 140px;
    }

    .form-wrapper{
        top: 43%;
        width: 100%;
    }

    .form-wrapper form{
        margin: 25px 0 40px;
    }
}

@media (max-height: 750px) {
    .form-wrapper{
        top: 50%;
    }
}